<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Now editing {{useredit.first_name}}</h1>
    <form action="/{{useredit.id}}/update" method="post">
        {% csrf_token %}
        <label for="frist_name">first Name:</label>
        <input type="text" name="first_name" value="{{useredit.first_name}}">
        <br>
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name" value="{{useredit.last_name}}">
        <br>
        <label for="email">Email: </label>
        <input type="email" name="email" value="{{useredit.email}}">

        <input type="submit" value="Update">
</body>
</html>