<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>User name {{ data.first_name }} {{ data.last_name }}</p>
    <p> {{ data.email }}</p> 
    <p> {{ data.created_at }}</p>
    <p>user id : {{data.id}}</p>
    <a href="/{{user.id}}/edit">edit</a> 
    <a href="/{{data.id}}/delete">delete</a>
    <a href="/new"> go back</a>                 
</body>
</html>