<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    {% for user in data %}
    <p>User name {{ user.first_name }} {{ user.last_name }}</p>
    <p> {{ user.email }}</p> 
    <p> {{ user.created_at }}</p>
    <p>user id : {{user.id}}</p>
    <a href="/{{user.id}}/edit">edit</a> 
    <a href="/{{user.id}}/show">show</a>       
    <a href="/{{user.id}}/delete">delete</a>
    <a href="/"> home</a>                                  
    {% endfor %}
</body>
</html>