<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

  <h2>Registration</h2>
  <form action='/register' method='POST'>
    {% csrf_token %} 
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
    <label for="email">Email:<input type="text" name="email" id="email"></label>
    <label for="password">Password:<input type="password" name="password" id="password"></label>
    <label for="password_confirmation">Password Confirmation:<input type="password" name="password_confirmation" id="password_confirmation"></label>
    <label for="date_hired">hired date:<input type="date" name="date_hired" id="date_hired"></label>
    <input type="submit" value="register">
  </form><br>
  <form action="/login" method='POST'>
    {% csrf_token %}
      <label for="email_login">Email:<input type="email" name="email_login" id="email_login"></label>
      <label for="password_login">Password:<input type="password" name="password_login" id="password_login"></label>
      <input type="submit" value="Login">
  </form>
</body>
</html>