<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="post">
        {% csrf_token %}
        Your Name: <input type="text" name="name" placeholder="enter name">
        <select name="location">
            <option value="chicago">chicago</option>
            <option value="somewhere">somewhere</option>
            <option value="else">else</option>
          </select>
        <select name="language">
            <option value="python">python</option>
            <option value="c">C#</option>
            <option value="mean">Mean</option>
          </select>
        Comment (optional): <textarea name="comment" placeholder="comment"></textarea>
        <input type="submit" value="submit">
    </form>
</body>
</html>